{% extends 'base.html' %}
{% load static %}
{% comment %}{% block questions_pagination_form_buttons %}
{% endblock %}{% endcomment %}
{% block content %}
	<div class="col-md-8">
		<h1 class="my-3">{% block content_header %}{% endblock %}</h1>
		<form class="form-horizontal" name="questions_pagination_form">
			{{ questions_pagination_form.as_p }}
			<ul class="pagination justify-content-center mb-4">
			{% if questions.has_previous %}
				<li class="page-item">
					<button class="page-link" onclick="questions_pagination_form_submit({{ questions.previous_page_number }})">&larr; Предыдущие</button>
				</li>
			{% else %}
				<li class="page-item disabled">
					<button class="page-link">&larr; Предыдущие</button>
				</li>
			{% endif %}
			{% if questions.has_next %}
				<li class="page-item">
					<button class="page-link" onclick="questions_pagination_form_submit({{ questions.next_page_number }})">Следующие &rarr;</button>
				</li>
			{% else %}
				<li class="page-item disabled">
					<button class="page-link">Следующие &rarr;</button>
				</li>
			{% endif %}
			</ul>
		</form>
		{% for question in questions %}
			<div class="card mb-4">
				<div class="card-body">
					<a href="{% url 'forum:question' question.id %}"><h2 class="card-title">{{ question.get_title_short }}</h2></a>
					<p class="card-text mb-1">{{ question.get_text_short }}</p>
					<p class="mt-0 mb-2 text-secondary">
						{% for question_tag in question.tags.all %}
							#{{ question_tag }}&nbsp;
						{% endfor %}
					</p>
					<a class="btn btn-primary" href="{% url 'forum:question' question.id %}">Перейти &rarr;</a>
					<i style="float: right">Ответов: <b>{{ question.answers_count }}</b>&nbsp;&nbsp;&nbsp;Рейтинг:
						{% if question.rating > 0 %}
							<b class="text-success">+{{ question.rating }}</b>
						{% elif question.rating < 0 %}
							<b class="text-danger">{{ question.rating }}</b>
						{% else %}
							<b>0</b>
						{% endif %}
					</i>
				</div>
				<div class="card-footer text-muted">Задан {{ question.pub_date }} пользователем <a href="{% url 'forum:user' question.author.id %}">{{ question.author }}</a></div>
			</div>
		{% endfor %}
		<ul class="pagination justify-content-center mb-4">
			{% if questions.has_previous %}
				<li class="page-item">
					<button class="page-link" onclick="questions_pagination_form_submit({{ questions.previous_page_number }})">&larr; Предыдущие</button>
				</li>
			{% else %}
				<li class="page-item disabled">
					<button class="page-link">&larr; Предыдущие</button>
				</li>
			{% endif %}
			{% if questions.has_next %}
				<li class="page-item">
					<button class="page-link" onclick="questions_pagination_form_submit({{ questions.next_page_number }})">Следующие &rarr;</button>
				</li>
			{% else %}
				<li class="page-item disabled">
					<button class="page-link">Следующие &rarr;</button>
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}
{% block script %}
	<script src="{% static 'questions.js' %}" type="text/javascript"></script>
{% endblock %}