{% extends 'base.html' %}

{% block navbar_users %} active{% endblock %}

{% block content %}
	<div class="col-md-8">
		<h1 class="my-3">Все пользователи</h1>
		{% for profile in profiles %}
			<a href="{% url 'forum:user' profile.id %}"><h3 class="my-3">{{ profile.get_nickname }}</h3></a>
		{% endfor %}
		<ul class="pagination justify-content-center mb-4">
			{% if profiles.has_previous %}
				<li class="page-item">
					{% if request.order %}
						<a class="page-link" href="?order={{ request.order }}&page={{ profiles.previous_page_number }}">&larr; Предыдущие</a>
					{% else %}
						<a class="page-link" href="?page={{ profiles.previous_page_number }}">&larr; Предыдущие</a>
					{% endif %}
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link">&larr; Предыдущие</a>
				</li>
			{% endif %}
			{% if profiles.has_next %}
				<li class="page-item">
					{% if request.order %}
						<a class="page-link" href="?order={{ request.order }}&page={{ profiles.next_page_number }}">Следующие &rarr;</a>
					{% else %}
						<a class="page-link" href="?page={{ profiles.next_page_number }}">Следующие &rarr;</a>
					{% endif %}
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link">Следующие &rarr;</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endblock %}